.weui-cell__nitify{
  font-size: 14PX;
  color: red;
}

.weui-loadmore{
  margin-top: 0;
  margin-bottom: 0;
}

.ad_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

